/*li > a:hover {
    color: black;
}*/

li { cursor: pointer; }


.menu-list{

	
	font-size: 115%;
	margin-right: 20px;
	margin-top: 10px;

}

.active{

border-bottom: 3px solid #3d8b3d; 

}


.menu-list:hover, 
.menu-list:focus {
	border-bottom: 3px solid #5cb85c; 
    
}

.form-horizontal .control-label{
/* text-align:right; */
text-align:left;

}

.tasks {

	box-shadow: 0 0 5px #B8B8B8;
	padding: 10px;
	background : rgba(255,255,255,0.9)
}

.badge{

	background: #5cb85c;
}